.menu-item {
    height: 410px; /* Adjust the height as needed */
}

@media (max-width: 575.02px) { /* Adjust for medium devices (tablets) */
    .menu-item {
        height: 400px; /* Height becomes auto to accommodate content */
    }
}

/* For small to medium devices (greater than 576px and less than or equal to 768px), set the height to 300px */
@media (min-width: 576.98px) and (max-width: 767.98px) {
    .menu-item {
        height: 410px;
    }
}

/* For medium devices and up (greater than 768px), set the height to 500px */
@media (min-width: 768.02px) {
    .menu-item {
        height: 420px; /* Height becomes auto to accommodate content */
    }
}