
.menuBox{
    list-style-type: none;
    padding: 0px;
}
.menuItem{
    text-decoration: none;
}
.menuItemBtn{
    text-decoration: none !important;
    font-size: 1.5rem !important;
}
.menuCardImg{
    width: 100%;
    height: 140px;
}
.menuCardTitle{
    font-weight: bold;
    font-size: 20px;
}
.menuCardCal{
    font-size: small;
}
.menuCardDesc{
    height: 70px;
}
.menuItemCardPrice{
    font-size: 18px;
    /* border: red solid 1px; */
    text-align: right !important;
    padding: 0;
}
.menuItemCardCountBtns{
    /* border: solid black 1px; */
}
.menuCardCount{
    text-align: center !important;
    font-size: 18px;
    /* border: red solid 1px; */
}
.menuCardPlus{
    /* border: red solid 1px; */
}
.menuCardMinus{
    /* border: red solid 1px; */
}

.menuCardPlusBtn{
    width: 100%;
}
.menuCardPlusBtn i {
    text-align: center;
}
.orderCount{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}
