
#acctNavbarDropdown{
    border: 0 !important;
    border-color: white !important;
    background-color: white !important;
    box-shadow:  0 !important;
}

#signOutBtn:hover{
    border-color: white !important;
    background-color: transparent;
}